

body,html{
    /* Set background color as a fallback */
    /* Set background image */
    background-image: url('/static/images/3.jpg');
    background-size: cover; 
    background-position: center center fixed;
    font: 1em/1.5 sans-serif;
}
h1{
    text-align: center;
}

h4{

    text-align: center;
}
.box{
    background-color: rgba(255, 255, 255, 0.50);
}
.navbar-brand{
    color: rgb(255, 255, 255);
    /*background-color: white;
    border-radius: 20px;
    margin-right: 5px;*/
}
.nav-link{
    color: rgb(0, 0, 0);
    /*background-color: white;
    border-radius: 20px;
    margin-right: 5px;*/
}
.container{
    justify-content: center;
    
}
.login_btn {
    width: 100%;
    background: rgb(70, 98, 255) !important;
    color: white !important;
}
.u_card{
    width: 550px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 255, 0.50);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.user_card {
    width: 550px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.home_card {
    width: 950px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}



  